h1 {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.titulo {
    display: block;
    text-align: center;
    background: #ccc;
    padding: 10px;
    margin: 10px 20%;
    margin-bottom: 20px;
}

div > p {
    display: none;
}

div:hover > p {
    display: block;
}

div:hover {
    color: seagreen;
} 

.pontos {
    margin: 10px;
}